"" base settings
"" ========================================================

set scrolloff=10
set relativenumber
set showmode
set showcmd
set number
set ignorecase
set smartcase
set incsearch
set hlsearch
set visualbell

" use system clipboard
set clipboard+=unnamed
set clipboard+=unnamedplus

let mapleader = " "

"" plugin settings
"" ========================================================

set surround
set highlightedyank
set nerdtree

" which-key settings
set notimeout
set which-key
let g:whichkey_fontsize = 40
let g:WhichKey_DefaultDelay = 600
let g:whichkey_commandcolor = "#41ead4"
let g:whichkey_prefixcolor = "#f335b2"
let g:whichkey_sortorder = "by_key_prefix_first"
let g:WhichKey_ShowVimActions = "true"
let g:whichkeyDesc_leader = "<leader> leader key"
let g:WhichKeyDesc_terminal      = "<leader>t  Activate Terminal Tool Window"
let g:WhichKeyDesc_comment       = "<leader>c  Comment by Line Comment"
let g:WhichKeyDesc_optimize      = "<leader>o  Optimize Imports"
let g:WhichKeyDesc_goto_file     = "<leader>sf Go to File"
let g:WhichKeyDesc_recent_files  = "<leader><leader> Recent Files"
let g:WhichKeyDesc_search        = "<leader>ss Search Everywhere"
let g:WhichKeyDesc_parameter_info = "<leader>sp Show Function Parameters"
let g:WhichKeyDesc_find_in_path  = "<c-/>     Find in Path"
let g:WhichKeyDesc_rename        = "<leader>rn Rename Element"
let g:WhichKeyDesc_next_error    = "ge        Go to Next Error"
let g:WhichKeyDesc_prev_error    = "gE        Go to Previous Error"
let g:WhichKeyDesc_go_to_file    = "<c-f>     Go to File"
let g:WhichKeyDesc_show_usages   = "<leader>u Show Usages"
let g:WhichKeyDesc_quick_javadoc = "K         Quick JavaDoc"
let g:WhichKeyDesc_project_view  = "<leader>p Select in Project View"
let g:WhichKeyDesc_related       = "<leader>s Go to Related"
let g:WhichKeyDesc_go_to_class   = "gc        Go to Class"
let g:WhichKeyDesc_super_method  = "gp        Go to Super Method"
let g:WhichKeyDesc_go_to_test    = "gt        Go to Test"
let g:WhichKeyDesc_back          = "gb        Back"
let g:WhichKeyDesc_forward       = "gf        Forward"
let g:WhichKeyDesc_implementation= "gI        Go to Implementation"

nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>

nnoremap <leader>c :action CommentByLineComment<CR>
vnoremap <leader>c :action CommentByLineComment<CR>

nnoremap <leader>o :action OptimizeImports<CR>

nnoremap <leader>sp :action ParameterInfo<CR>
nnoremap <leader>sf :action GotoFile<CR>
nnoremap <leader>? :action RecentChangedFiles<CR>
nnoremap <leader><leader> :action RecentFiles<CR>
nnoremap <leader>ss :action SearchEverywhere<CR>
nnoremap <leader>sg :action FindInPath<CR>
nnoremap <leader>s/ :action RecentFiles<CR>
nnoremap <c-/> :action FindInPath<CR>
nnoremap <leader>rn :action RenameElement<CR>

"" nnoremap <leader>ca :action ShowIntentionActions<CR>

nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

nnoremap <c-f> :action GotoFile<CR>
nnoremap <leader>u :action ShowUsages<CR>
nnoremap K :action QuickJavaDoc<CR>
nnoremap <leader>p :action SelectInProjectView<CR>

nnoremap <leader>s :action GotoRelated<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gp :action GotToSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
nnoremap gI :action GotoImplementation<CR>

nmap <leader><C-h> :action SetHarpoon1<cr>
nmap <leader><C-j> :action SetHarpoon2<cr>
nmap <leader><C-k> :action SetHarpoon3<cr>
nmap <leader><C-l> :action SetHarpoon4<cr>

nmap <C-h> :action GotoHarpoon1<cr>
nmap <C-j> :action GotoHarpoon2<cr>
nmap <C-k> :action GotoHarpoon3<cr>
nmap <C-l> :action GotoHarpoon4<cr>

nmap <C-e> :action ShowHarpoon<cr>
nmap <C-a> :action AddToHarpoon<cr>
