
"" Base Settings
"" ========================================================

set scrolloff=10
set number
set relativenumber
set showmode
set showcmd

set ignorecase
set smartcase
set incsearch
set hlsearch

set visualbell

" Use system clipboard
set clipboard+=unnamed

let mapleader = " "


"" Plugin Settings
"" ========================================================

set surround
set highlightedyank
set nerdtree

"" Key mappings
"" ========================================================

nnoremap <c-u> <c-u>zz
nnoremap <c-d> <c-d>zz
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <Leader>t :action Terminal.OpenInTerminal<CR>
nnoremap <Leader>c :action CommentByLineComment<CR>
vnoremap <Leader>c :action CommentByLineComment<CR>
nnoremap <Leader>o :action OptimizeImports<CR>
nnoremap <Leader><Leader> :action RecentFiles<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap <c-/> :action FindInPath<CR>
nnoremap <c-f> :action GotoFile<CR>
nnoremap <Leader>u :action FindUsages<CR>
nnoremap <Leader>s :action GotoRelated<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gp :action GotToSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
